[submodule "include/motivation"]
	path = include/motivation
	url = ../motivation
[submodule "include/logos"]
	path = include/logos
	url = https://github.com/krr-up/logos.git
[submodule "include/bibliography"]
	path = include/bibliography
	url = https://github.com/krr-up/bibliography.git
[submodule "include/macros"]
	path = include/macros
	url = https://github.com/krr-up/asp-macros.git
[submodule "include/organization"]
	path = include/organization
	url = ../organization
[submodule "include/administration"]
	path = include/administration
	url = ../administration
[submodule "include/systems"]
	path = include/systems
	url = ../systems
[submodule "include/introduction"]
	path = include/introduction
	url = ../introduction
[submodule "include/modeling"]
	path = include/modeling
	url = ../modeling
[submodule "include/language"]
	path = include/language
	url = ../language
