[submodule "include/motivation"]
	path = include/motivation
	url = ../../potassco-asp-course/motivation
[submodule "include/logos"]
	path = include/logos
	url = ../../krr-up/logos
[submodule "include/bibliography"]
	path = include/bibliography
	url = ../../krr-up/bibliography
[submodule "include/macros"]
	path = include/macros
	url = ../../krr-up/asp-macros
[submodule "include/organization"]
	path = include/organization
	url = ../../potassco-asp-course/organization
[submodule "include/administration"]
	path = include/administration
	url = ../../potassco-asp-course/administration
[submodule "include/systems"]
	path = include/systems
	url = ../../potassco-asp-course/systems
[submodule "include/introduction"]
	path = include/introduction
	url = ../../potassco-asp-course/introduction
[submodule "include/modeling"]
	path = include/modeling
	url = ../../potassco-asp-course/modeling
[submodule "include/language"]
	path = include/language
	url = ../../potassco-asp-course/language
[submodule "include/extensions"]
	path = include/extensions
	url = ../../potassco-asp-course/extensions
[submodule "include/grounding"]
	path = include/grounding
	url = ../../potassco-asp-course/grounding
[submodule "include/computation"]
	path = include/computation
	url = ../../potassco-asp-course/computation
[submodule "include/axiomatic-characterization"]
	path = include/axiomatic-characterization
	url = ../../potassco-asp-course/axiomatic-characterization
[submodule "include/operational-characterization"]
	path = include/operational-characterization
	url = ../../potassco-asp-course/operational-characterization
[submodule "include/proof-theoretic-characterization"]
	path = include/proof-theoretic-characterization
	url = ../../potassco-asp-course/proof-theoretic-characterization
[submodule "include/solving"]
	path = include/solving
	url = ../../potassco-asp-course/solving
[submodule "include/encoding"]
	path = include/encoding
	url = ../../potassco-asp-course/encoding
[submodule "include/meta-encoding"]
	path = include/meta-encoding
	url = ../../potassco-asp-course/meta-encoding
[submodule "include/multi-shot-solving"]
	path = include/multi-shot-solving
	url = ../../potassco-asp-course/multi-shot-solving
[submodule "include/theory-solving"]
	path = include/theory-solving
	url = ../../potassco-asp-course/theory-solving
[submodule "include/heuristic-driven-solving"]
	path = include/heuristic-driven-solving
	url = ../../potassco-asp-course/heuristic-driven-solving
[submodule "include/controlling"]
	path = include/controlling
	url = ../../potassco-asp-course/controlling
[submodule "include/dynamic-asp"]
	path = include/dynamic-asp
	url = ../../potassco-asp-course/dynamic-asp
[submodule "include/hybrid-asp"]
	path = include/hybrid-asp
	url = ../../potassco-asp-course/hybrid-asp
[submodule "include/configuration"]
	path = include/configuration
	url = ../../potassco-asp-course/configuration
[submodule "include/planning"]
	path = include/planning
	url = ../../potassco-asp-course/planning
[submodule "include/preferences"]
	path = include/preferences
	url = ../../potassco-asp-course/preferences
[submodule "include/interaction"]
	path = include/interaction
	url = ../../potassco-asp-course/interaction
[submodule "include/visualization"]
	path = include/visualization
	url = ../../potassco-asp-course/visualization
