*.aux
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.swp
*.synctex.gz
*.tex.bak
*.tex.latexmain
*.toc
*.vrb
*~
.DS_Store
.initialized
TAGS
_region_.*
auto/
cloud
main.bbl
main.pdf
main.synctex*
